*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root {
      --sizecontent: minmax(0, 1200px);
      --paddingBetweenLargeBlocks: 50px 0;
}

/* Css for elements */
a {
      text-decoration: none;
      color: inherit; 
}

h2 {
      padding-bottom: 30px;
      text-align: center;
      color: #006bcc;
      font-size: 2rem;
}

img{
      width: 100%;
}

p{
      text-align: justify;
}
/* Make grid for website */

.grid-container {
      font-family: 'Open Sans', sans-serif;
      display: grid;
      grid-template-columns: 1fr var(--sizecontent) 1fr;
      grid-template-areas:
      'slideImages slideImages slideImages'
      'toolsForGuest toolsForGuest toolsForGuest'
      '. advantage .'
      'productTypes productTypes productTypes'
      '. newsAndActivites .'
      'footer footer footer'
      ;
      background-image: url(/images/bg01.png);
      background-repeat: repeat;
}
/* ---------------------------------------- */
.grid-container>.header{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr var(--sizecontent) 1fr;
      grid-template-areas: 
      '. navTop .';
      align-items: center;
      background-color: #fbfbfb !important;
      border-bottom: 5px solid #0069c5;
      position: fixed;
      z-index: 2;
}

.header>.nav-top{
      grid-area: navTop;
      display: flex;
      align-items: center;
}
/* ---------------------------------------- */
.grid-container>.slide-images{
      grid-area: slideImages;
      padding-top: 85px;
}

.slide-images-content{
      position: relative;
      max-height: min-content;
}

.slide-images-content>a:nth-child(1) {
      transition: 0.5s;
}

.slide-images-prev{
      left: 0;
      top: 50%;
      position: absolute;
}

.slide-images-next{
      top: 50%;
      right: 0;
      position: absolute;
}

.btn-slide-images{
      padding: 30px 15px;
      margin-top:-51px;
      display: block;
      cursor: pointer;
      transition: 0.5s;
      font-size: 1.5rem;
      color: #fff;
}

.btn-slide-images:hover{
      background-color: rgba(0, 0, 0, 0.486);
}
/* ---------------------------------------- */
.grid-container>.tools-for-guest{
      grid-area: toolsForGuest;
      display: grid;
      grid-template-columns: 1fr var(--sizecontent) 1fr;
      grid-template-areas: 
      '. toolsContent .';
      padding: var(--paddingBetweenLargeBlocks);
      background-color: #fff;
}

.tools-for-guest>.tools-content{
      grid-area: toolsContent;
      display: flex;
      flex-wrap: wrap;
      padding: 0 10px
}

.tools-content>.self-design {
      max-width: 48%;
}

.tools-content img {
      border-radius: 20px;
}

.tools-content>div>a:nth-child(2):hover {
      color: #0069c5;
}

.tools-content>.latest-Tech{
      max-width: 48%;
      margin-left: auto;
}
/* ---------------------------------------- */
.grid-container>.advantage{
      grid-area: advantage;
      width: 100%;
      padding: var(--paddingBetweenLargeBlocks);
      background-image: url(/images/bg01.png);
      background-repeat: repeat;
}

.advantage>.reason-list{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 
      'reason1 reason2 reason3'
      'reason4 reason5 reason6'
      ;
      padding: 0 5px;
}

.reason-list>.reason1{
      grid-area: reason1;
      position: relative;
}

.reason-list>.reason2{
      grid-area: reason2;
      position: relative;
}

.reason-list>.reason3{
      grid-area: reason3;
      position: relative;
}

.reason-list>.reason4{
      grid-area: reason4;
      position: relative;
}

.reason-list>.reason5{
      grid-area: reason5;
      position: relative;
}

.reason-list>.reason6{
      grid-area: reason6;
      position: relative;
}

/* ---------------------------------------- */
.grid-container .product-types{
      grid-area: productTypes;
      display: grid;
      grid-template-columns: 1fr var(--sizecontent) 1fr;
      grid-template-areas:
      '. productsContent .'
      ;
      background-color: #fff !important;
      padding: var(--paddingBetweenLargeBlocks);
}

.product-types .products-content{
      grid-area: productsContent;
      text-align: center;
}

.door-for-house .list-of-product-house{
      grid-area: listOfProductHouse;
      display: flex;
      padding: 30px 0;
      background-color: #fff;
      justify-content: space-evenly;
}

.list-of-product-house div{
      flex-basis: 250px;
}

.products-content img{
      border-radius: 5%;
}

.door-for-industry .list-of-product-industry {
      display: flex;
      padding: 30px 0;
      justify-content: space-evenly;
      justify-items: left;
}
.list-of-product-industry div{
      flex-basis: 250px;
}

.accessories .list-of-product-accessories{
      display: flex;
      padding: 30px 0;
      justify-content: space-evenly;
}

.list-of-product-accessories div{
      flex-basis: 250px;
}

/* ---------------------------------------- */
.grid-container .news-and-activites{
      grid-area: newsAndActivites;
      padding: var(--paddingBetweenLargeBlocks) 0;
}

.news-and-activites .news-activites-content{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 
      'news-1 news-2 news-3 news-4'
      'news-5 news-6 news-7 news-8'
      'news-9 news-10 news-11 news-12'
      ;
      row-gap: 20px;
      column-gap: 20px;
      padding: 0 20px;
}

.news-activites-content .news-1{
      grid-area: news-1;
}

.news-activites-content .news-2{
      grid-area: news-2;
}

.news-activites-content .news-3{
      grid-area: news-3;
}

.news-activites-content .news-4{
      grid-area: news-4;
}

.news-activites-content .news-5{
      grid-area: news-5;

}.news-activites-content .news-6{
      grid-area: news-6;
}
.news-activites-content .news-7{
      grid-area: news-7;
}
.news-activites-content .news-8{
      grid-area: news-8;
}
.news-activites-content .news-9{
      grid-area: news-9;
}
.news-activites-content .news-10{
      grid-area: news-10;
}
.news-activites-content .news-11{
      grid-area: news-11;
}
.news-activites-content .news-12{
      grid-area: news-12;
}

.grid-container>.footer{
      grid-area: footer;
      display: grid;
      grid-template-columns: 1fr var(--sizecontent) 1fr;
      grid-template-areas:
      '. navBot .'
      'adressCopyright adressCopyright adressCopyright'
      ;
}

.footer>.nav-bot{
      grid-area: navBot;
      display: flex;
      justify-content: space-between;
      padding: var(--paddingBetweenLargeBlocks);
}

.footer>.adress-copyright{
      grid-area: adressCopyright;
      background-image: url(/images/bg-footer.png);
      color: #fff;
      display: grid;
      grid-template-columns: 1fr var(--sizecontent) 1fr;
      grid-template-areas: '. adressContent .';
      padding-top: 20px;
}

.adress-copyright>.adress-content{
      grid-area: adressContent;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
}

/* display nav-top */

.logo-site a:nth-child(2) {
      display: none;
}

.logo-site {
      max-height: 80px;
}

.nav-menu {
      font-size: 0.9rem;
      margin-left: auto;
      display: flex;
      align-items: center;
}
.nav-menu>ul:nth-child(1) {
      list-style-type: none;
      font-weight: bold;
      display: flex;
}

.nav-menu>ul:nth-child(1)>li>a {
      color: #2f2f2f;
      display: block;
      padding: 30px 5px;
      font-size: 0.92rem;
}

.nav-menu>ul:nth-child(1)>li>a:hover{
      background-color: #006bcc;
      color: #fff;
}

.hot-line{
      display: none;
}

.search-area {
      display: flex;
      max-height: 80px;
}

.search-area>a{
      max-height: 30px;
}

.language {
      list-style-type: none;
      padding: 0px 5px;
}

.language a{
      padding: 2px 0;
}

.btn {
      font-weight: bold;
      background-color: #006bcc;
      color: #fff;
      max-width: max-content;
      padding: 5px 20px;
      text-align: justify;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}

.btn:hover {
      background-color: #49a4fa;
}

.reason-list div{
      max-height:400px;
}

.title-products-group{
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;
      padding: 10px 0;
      margin: 0 5px;
}

.display-block a{
      display: block;
}

.tools-content a{
      display: block;
}

.products-content p{
      text-align: center;
}

.products-content a{
      font-weight: 600;
}

.products-content a:hover{
      color: rgb(255, 126, 75);
}

.news-activites-content img{
      border: 1px solid #fff;
      border-radius: 5%;
      transition: 0.5s;
}

.products-content img{
      border-radius: 5%;
      transition: 0.5s;
}

.products-content img:hover{
      transform: scale(1.05);
}

.news-activites-content img:hover{
      transform: scale(1.05);
}

.news-activites-content>div:hover>a{
      color: rgb(255, 126, 75);
}

.menu-mobile{
      display: none;
}

.reason-content {
      display: block;
      top: 0;
      position: absolute;
      transition: 0.5s;
      opacity: 0%;
      z-index: 1;
}

.reason-content:hover {
      opacity: 100%;
}

.nav-bot-items {
      display: inline-block;
}

.nav-bot-items>img{
      float: left;
      max-width: 90px;
      padding-right: 20px;
}

.nav-bot-items>div{
      float: right;
}

.nav-bot-items>div>ul{
      list-style-type: none;
}

.nav-bot-items a{
      color: #006bcc;
}

.nav-bot-items a:hover{
      color: rgb(255, 126, 75);
}

.adress-content>div:nth-child(1)>a>img{
      max-width: 150px;
}

.adress-content>div:nth-child(1){
      max-width: 500px;
      font-size: 0.8rem;
      text-align: justify;
}

.search-area>a{
      padding:0;
}

#menu-mobile{
      display: none;
}

.nav-menu-mobile{
      display: none;
      position: fixed;
      top: 100px;
      background-color: rgba(255, 255, 255, 0.938);
      width: 100%;
}


/* Table: width >= 740px and width < 1024px */
@media screen and (max-width: 64em) {
      .grid-container>.slide-images{
            padding-top: 53px;
      }
      .advantage>.reason-list{
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            'reason1 reason2'
            'reason3 reason4'
            'reason5 reason6'
            ;
      }

      .news-and-activites>.news-activites-content{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            'news-1 news-2 news-3 '
            'news-4 news-5 news-6 '
            ;
            row-gap: 20px;
            padding: 0 10px;
      }

      .footer>.nav-bot{
            flex-wrap: wrap;
      }

      .nav-bot>.nav-bot-items{
            flex-basis: 50%;
      }

      .nav-bot-items>div{
            float: none;
      }

      .news-activites-content div:nth-child(n+7) {
            display: none;
      }
      
      .logo-site a:nth-child(1) {
            display: none;
      }

      .logo-site a:nth-child(2) {
            display: block;
            width: 40px;
            height: 40px;
            margin: 5px;
      }

      .nav-menu>ul:nth-child(1) {
            display: none;
      }
      
      .list-of-product-house div{
            flex-basis: 200px;
      }

      .list-of-product-industry div{
            flex-basis: 200px;
      }
      
      .list-of-product-accessories div{
            flex-basis: 200px;
      }

      .grid-container .header{
            border-bottom: 3px solid #0069c5;
      }

      h2 {
            font-size: 1.5rem;;
      }

      h3{
            font-size: 1.2rem;
      }

      .hot-line{
            display: flex;
            height: 50px;
            align-items: center;
      }

      .hot-line a{
            padding: 0;
            font-size: 1.2rem;
            color: #006bcc;
            font-weight: bold;
            flex-basis: 100%;
      }

      .hot-line img {
            width: 20px;
            height: 20px;
      }

      .menu-mobile{
            display: block;
            border-left: 1px #e6e6e6 solid;
            max-height: 50px;
            max-width: 50px;
      }

      .tools-for-guest .tools-content{
            padding: 0 10px;
      }

      #menu-mobile:checked+.nav-menu-mobile{
            display: block;
            opacity: 0%;
            position: fixed;
            left: 0;
            top: 53px;
      }

      .nav-menu-mobile a{
            display: block;
            padding: 10px 5px 10px;
            font-weight: bold;
      }

      .nav-menu-mobile a:hover{
            background-color: #006bcc;
            color: #fff;
      }


}

/* Mobile: width < 740px */
@media screen and (max-width: 46.1875em) {
      .door-for-industry .list-of-product-industry {
            flex-wrap: wrap;
            row-gap: 10px;
      }

      .accessories .list-of-product-accessories{
            flex-wrap: wrap;
            row-gap: 10px
      }

      .door-for-house .list-of-product-house{
            flex-wrap: wrap;
            row-gap: 10px
      }

      .tools-for-guest .tools-content{
            padding: 0 5px;
      }

      .tools-content-descr {
            display: none;
      }

      .list-of-product-house div{
            flex-basis: 150px;
      }

      .list-of-product-industry div{
            flex-basis: 150px;
      }
      
      .list-of-product-accessories div{
            flex-basis: 150px;
      }


      .hot-line {
            max-height: 40px;
      }

      .news-and-activites {
            display: none;
      }

      h2 {
            font-size: 1.2rem;;
      }

      h3{
            font-size: 1rem;
      }

      .language a{
            padding: 0;
      }

      .menu-mobile{
            max-height: 40px;
            max-width: 50px;
            padding: 0 5px;
      }

      .logo-site img{
            max-width: 35px;
            max-height: 35px;
      }

      .logo-site a:nth-child(2) {
            display: flex;
            align-items: center;
            width: 40px;
            height: 40px;
            margin: 0 5px;
      }

      .tools-content p{
            font-size: 0.8rem;
      }

      .tools-content img{
            border-radius: 10px;
      }

      .products-content a{
            font-size: 0.8rem;
      }

      .title-products-group a{
            font-size: 1rem;
      }

      .nav-bot-items>img{
            display: none;
      }

      .btn {
            padding: 5px 15px;
            font-size: 0.8rem;
      }

      .nav-bot-items li{
            font-size: 0.8rem;
      }

      .nav-bot-items>div>h4{
            font-size: 0.9rem;
            text-align: justify;
      }

      .adress-left>h5{
            font-size: 0.8rem;
      }

      .adress-right>img{
            width: 50%;
            max-width: 240px;
      }

      .grid-container>.slide-images{
            padding-top: 42px;
      }

      #menu-mobile:checked+.nav-menu-mobile{
            top: 43px;
      }

      .nav-menu-mobile a{
            font-size: 0.7rem;
      }

      .adress-copyright>.adress-content{
            display: block;
      }
}
